/* commons */
.text-center {
  text-align: center;
}
h2 {
  color: goldenrod;
}
h3 {
  font-style: italic;
}
/* fine commons */
/* inizio stile header */
header {
  background-color: #ededed;

  /* border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: goldenrod; */

  border-bottom: 2px solid goldenrod;
}

#profile-pic {
  height: 250px;
}
/* fine stile header */
